.subscribe-button{
    background-color: rgb(207, 15, 15);
    color: white;
    border: none;
    font-size: medium;
    /* height: 35px;
    width: 115px ; */
    border-radius: 10px;
    margin-left: 20px;   /* margin is for oustide spacing and padding for inside */ 
    margin-right: 20px ;
    padding-left: 20px; /*using padding and margin is good coz if u increase button text so it will reshaoe itself automatically */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right:10px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top;
}
.subscribe-button:hover{
   opacity: 0.2;
}
.subscribe-button:active{
    opacity: 0.3;
}
.join-button{
    background-color:beige;
    color: black;
    border-color: black;
    font-size: medium;
    /* height: 35px;
    width: 115px ; */
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;   /* margin is for oustide spacing and padding for inside */ 
    margin-right: 5px ;
    padding-left: 20px; /*using padding and margin is good coz if u increase button text so it will reshaoe itself automatically */
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right:10px;
    vertical-align: top;
}
.join-button:hover{
    background-color: blue;
}
.join-button:activate{
    opacity: 0.3;
}
.tweet-button{
    background-color: rgb(13, 13, 228);
    color: white;
    border-color: rgb(29, 29, 156);
    font-size: medium;
    /* height: 35px;
    width: 115px ; */
    border-radius: 25px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    padding-left: 20px; 
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right:10px;
    vertical-align: top;
    
}
.tweet-button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);

}
.pagination  {
    text-decoration: none;
    color: azure;
    margin: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.pagination :hover{
    background-color: rgb(197, 207, 246);
    
}
