.header{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(203, 200, 200);
}
.left-section{
 /* width: 200px; */
 display: flex;
 align-items: center;
}
.right-section{
 width: 180px;
 margin-right: 20px;
 flex-shrink: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}
   